# Kubeflow Pipelines version/tag from kubeflow/pipelines repo
KFP_VERSION=2.15.0

# Namespace used by standalone KFP install
KFP_NAMESPACE=kubeflow
KFP_UI_ROUTE_NAME=kfp-ui
KFP_UI_HOSTNAME="pipelines.${LOCAL_DOMAIN}"
