apiVersion: apps/v1
kind: Deployment
metadata:
  name: seaweedfs
  namespace: ${KFP_NAMESPACE}
spec:
  template:
    spec:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
