apiVersion: v1
kind: Secret
metadata:
  name: ${K8S_SYNC_SECRET_NAME}
  namespace: ${K8S_SYNC_NAMESPACE}
type: Opaque
stringData:
  MINIO_ENDPOINT: "${K8S_SYNC_MINIO_ENDPOINT}"
  MINIO_ACCESS_KEY: "${K8S_SYNC_MINIO_ACCESS_KEY}"
  MINIO_SECRET_KEY: "${K8S_SYNC_MINIO_SECRET_KEY}"
  MINIO_INSECURE: "${K8S_SYNC_MINIO_INSECURE}"
  MINIO_BUCKET: "${K8S_SYNC_MINIO_BUCKET}"
  MINIO_PREFIX: "${K8S_SYNC_MINIO_PREFIX}"
  SYNC_SOURCE_PATH: "${K8S_SYNC_SOURCE_PATH}"
